<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jefferson Livros</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">


</head>

<body>
    <div class="menu">
        <nav>
            <ul class="lista">
                <li> <a href="/">Home</a> </li>

            </ul>
        </nav>
    </div>
    <h1>FICHA CATALOGRAFICA</h1>
    <div>
        <div th:each="livro : ${livros} ">
			<p th:text="${'Titulo: '+livro.titulo}"></p>
			<p th:text="${'Autor: '+livro.autor}"></p>
			<p th:text="${'Categoria: '+livro.categoria}"></p>
			<p th:text="${'ISBN: '+livro.isbn}"></p>
			<p th:text="${'Codigo: '+livro.codigoBarras}"></p>
			<p th:text="${'Preço: '+livro.preco}"></p>
		</div>
    </div>
    



</body>

</html>